<h1>Nearest Station</h1>

<section class="search-results">
  <h3 id="station-name"><%= @facade.name %></h3>
  <p id="address"><%= "Address: #{@facade.address}, #{@facade.city} #{@facade.state} #{@facade.zip}" %></p>
  <p id="fuel-type"><%= "Fuel Type: #{@facade.fuel_type}" %></p>
  <p id="access-times"><%= "Access Times: #{@facade.access_times}" %></p>
</section>
